


.song{
    display: flex;
    justify-content: left; 
    gap: 20px;
    margin-top: 5px;
    align-items: center;
   
}

.playback{
    display: flex;
    align-items: center;
   
    gap:1050% 50px;
    

}



.playlist{
    height: 320px;
    overflow: auto;
    
   
}

.grid{
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
  
}

.col{

    border-right: 1px solid black;
}

.col:last-child{
    border-right: none;
}

/* This is to enable later when fully customizing spacing, now will leave it alone cause it looks better
body{
    margin: 0;
}

h1{
    margin: 0;
}

*/