
/*spacing*/
body{
    margin: 0;
}

h1{
    margin: 0;
}


.song{
    display: flex;
    justify-content: left; 
    gap: 20px;
    margin-top: 5px;
    align-items: center;
   
}

.playback{
    display: flex;
    align-items: center;
   
    gap:1050% 50px;
    

}



.playlist{
    height: 320px;
    overflow: auto;
    
   
}

.grid{
    display: grid;
    grid-template-columns: 400px 1fr;
    
    height: 100%;
    gap: 8px;
    background-color: #cbf1cb;
  
}

.col-1{


    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
}

.col-2{
    border-right: none;
 
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
}






#createPlaylistButton{
    
    border: 1px solid black;
    width: 200px;
    text-align: center;
    font-weight: 200;
    border-radius: 10px;

}

.home-group{
    
}



