
<html>
    <head>
        <title>Outify</title>
        <link rel="stylesheet" href="/static/dash.css">
        <!-- Include the Satoshi font from Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Satoshi&display=swap">
        <style>
            body {
                font-family: 'Satoshi', sans-serif; /* Use Satoshi font for the body */
            }

            /* Add other CSS styles using the Satoshi font here */
        </style>
        
    </head>

    <body>
        <div class="grid">
            <div class="col">
            <div>
                <h1>Home</h1>
                
                

            </div>
            <div>
                <h4>Logged in as {{ username }}</h4>
                <a href='/logout'>Logout</a>
            </div>
            
            <h2>Currently Playing</h2>



            
              


            <div class="playback" id = "playback-info">
                <script>
                    //Async function to update current song playing
                    
                    function updateCurrentSong() {
                      fetch('/get_current_song')
                        .then(response => response.json())
                        .then(data => {
                          const playbackDiv = document.getElementById('playback-info');
                          if (Object.keys(data).length > 0) {
                            // Update the HTML elements with the current song information
                            playbackDiv.querySelector('img').src = data.album.images[0].url;
                            playbackDiv.querySelector('h3').innerText = data.name;
                            playbackDiv.querySelector('p').innerText = data.artists[0].name;
                          } else {
                            // If no song is playing, show a default message
                            playbackDiv.querySelector('img').src = ''; // Set a default image or hide the image
                            playbackDiv.querySelector('h3').innerText = 'No song is currently playing.';
                            playbackDiv.querySelector('p').innerText = '';
                          }
                        })
                        .catch(error => console.error('Error fetching current song:', error));
                    }
                  
                    // Refresh the current song information every 3 seconds
                    setInterval(updateCurrentSong, 3000);
                    
                </script>
                
                <img src="{{ playbackStatus[2] }}" width="75px" height="75px">
                <div>
                    <h3>{{ playbackStatus[0] }}</h3>
                    <p>{{ playbackStatus[1] }}</p>

                </div>

            </div>



            <h2>My Playlists</h2>
            

            
            
            <div id="playlist" class="playlist" data-playlist = "{{ playlists }}">


                
                <script>
                    const playlists = JSON.parse(document.getElementById("playlist").getAttribute("data-playlist"));
                    
                    console.log(playlists);
                    function createSongElement(name, imageUrl) {
                        const songDiv = document.createElement('div');
                        songDiv.classList.add('song');

                        const img = document.createElement('img');
                        //img.classList.add('song');
                        img.src = imageUrl;
                        img.height = 50;
                        img.width = 50;

                        const h3 = document.createElement('h3');
                        //h3.classList.add('song');
                        h3.textContent = name;

                        songDiv.appendChild(img);
                        songDiv.appendChild(h3);

                        return songDiv;
                    }

                    // Function to render all the songs
                    function renderSongs() {
                        const playlistContainer = document.getElementById('playlist');

                        // Clear any existing content in the container
                        playlistContainer.innerHTML = '';

                        // Iterate through the playlists data and create elements
                        playlists.forEach(songData => {
                            const songElement = createSongElement(songData[0], songData[1]);
                            playlistContainer.appendChild(songElement);
                        });
                    }

                    // Call the renderSongs function to render the initial data
                    renderSongs();
                </script>


            
            </div>
        
            
            </div>
        
            <div class="col">
                <h1>Generate Playlist</h1>
                <h2>Song of the Day</h2>
                
                <div id="embed-iframe" uri=" {{ recs[0][3] }}">
                <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async>
                </script>
                <script type="text/javascript">
                  const link = document.getElementById("embed-iframe").getAttribute("uri").toString().trim();
                  
                    console.log(link)
                    console.log("Hello")

                  window.onSpotifyIframeApiReady = (IFrameAPI) => {
                    const element = document.getElementById('embed-iframe');
                   
                    const options = {
                      width: '100%',
                      height: '200',
                      uri: link
                    };
                    const callback = (EmbedController) => {
                      document.querySelectorAll('.episode').forEach(
                        episode => {
                          episode.addEventListener('click', () => {
                            EmbedController.loadUri(episode.dataset.spotifyId)
                          });
                        })
                    };
                    IFrameAPI.createController(element, options, callback);
                  };
                </script>
                </div>


                <!-- Web Playback SDK (Implement later)
                <div id="web-sdk" access_token="{{ access_token | safe }}">
                    <h1>Spotify Web Playback SDK Quick Start</h1>
                    <button id="togglePlay">Toggle Play</button>

                    <div id="trackInfo">
                      <p id="trackName">Track Name: N/A</p>
                      <p id="artist">Artist: N/A</p>
                      <p id="album">Album: N/A</p>
                    </div>

                    <script src="https://sdk.scdn.co/spotify-player.js"></script>
                    <script>
                      window.onSpotifyWebPlaybackSDKReady = () => {
                        const token = document.getElementById("web-sdk").getAttribute("access_token")
                          
                        const player = new Spotify.Player({
                          name: 'Web Playback SDK Quick Start Player',
                          getOAuthToken: (cb) => {
                            cb(token);
                          },
                          volume: 0.5,
                        });

                        const updateTrackInfo = (track) => {
                          const trackName = document.getElementById('trackName');
                          const artist = document.getElementById('artist');
                          const album = document.getElementById('album');

                          trackName.textContent = `Track Name: ${track.name}`;
                          artist.textContent = `Artist: ${track.artists[0].name}`;
                          album.textContent = `Album: ${track.album.name}`;
                        };

                        player.addListener('ready', ({ device_id }) => {
                          console.log('Ready with Device ID', device_id);
                        });

                        player.addListener('initialization_error', ({ message }) => {
                          console.error(message);
                        });

                        player.addListener('authentication_error', ({ message }) => {
                          console.error(message);
                        });

                        player.addListener('account_error', ({ message }) => {
                          console.error(message);
                        });

                        player.addListener('player_state_changed', (state) => {
                          // 'state' contains the current player state
                          const { track_window } = state;
                          const currentTrack = track_window.current_track;
                          console.log('Current Track:', currentTrack);
                          updateTrackInfo(currentTrack);
                        });

                        document.getElementById('togglePlay').onclick = function () {
                          player.getCurrentState().then(state => {
                        if (!state) {
                          console.error('User is not playing music through the Web Playback SDK');
                          return;
                        }

                        var current_track = state.track_window.current_track;
                        var next_track = state.track_window.next_tracks[0];

                        console.log('Currently Playing', current_track);
                        console.log('Playing Next', next_track);
                      });
                        };

                        

                        player.connect().then((success) => {
                          if (success) {
                            console.log('The Web Playback SDK successfully connected to Spotify!');
                          }
                        });
                      };
                    </script>
                </div>
                -->





            </div>
    </div>

    </body>
</html>

