
<html>


    <head>
        <title>Welcome to Outify</title>
        <!-- Include the Satoshi font from Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Satoshi&display=swap">
        <style>
            body {
                font-family: 'Satoshi', sans-serif; /* Use Satoshi font for the body */
            }

            /* Add other CSS styles using the Satoshi font here */
        </style>
    </head>

    <body>
        <h1>Welcome to Outify</h1>
        <a href="{{ auth_url }}">sign in</a>

    </body>


</html>